.icon {
  height: 30px;
}

.hero-section {
  position: relative;
  height: 82vh;                 
  margin: 0 2%;                  
  border-radius: 15px;          
  overflow: hidden;              
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../img/hero-background.png') no-repeat center;
  background-size: cover;        
  filter: brightness(0.3); 
  z-index: -1;                   
}

.shop_by_category {
  background-color: #f0fffb;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.sticky-top {
  top: 50px; /* ajusta conforme altura do seu navbar */
}

.mission-section {
  position: relative;
  color: #333;
  background: url("../img/mission-section.png") no-repeat center center;
  background-size: cover;
  height: 50vh;    
}

.mission-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
}

.mission-section .container {
  position: relative;
  z-index: 1;
}

.impact-section {
  background-color: #e8fbe8;
}