.icon {
  height: 30px;
}

.hero-section {
  position: relative;
  height: 82vh;                 
  margin: 0 2%;                  
  border-radius: 15px;          
  overflow: hidden;              
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../img/hero-background.png') no-repeat center;
  background-size: cover;        
  filter: brightness(0.3); 
  z-index: -1;                   
}

.shop_by_category {
  background-color: #f0fffb;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.sticky-top {
  top: 50px; /* ajusta conforme altura do seu navbar */
}

.mission-section {
  position: relative;
  color: #333;
  background: url("../img/mission-section.png") no-repeat center center;
  background-size: cover;
  height: 50vh;    
}

.mission-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
}

.mission-section .container {
  position: relative;
  z-index: 1;
}

.impact-section {
  background-color: #e8fbe8;
}

.faq {
  max-width: 700px;
  margin: 2rem auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.faq details {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 0.8rem 1rem;
  transition: all 0.3s ease;
}

.faq summary {
  cursor: pointer;
  font-weight: 600;
  position: relative;
  list-style: none;
}

.faq summary::-webkit-details-marker {
  display: none; /* remove o ícone padrão do navegador */
}

.faq summary::after {
  content: "▼";
  font-size: 0.9rem;
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(-180deg);
}

.faq p {
  margin-top: 0.5rem;
  line-height: 1.4;
  color: #555;
}
