<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../public/ecotrend_favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm py-3">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="../../index.html">
      <img src="../assets/img/icons_header/ecotrend_favicon.webp" alt="Logo" style="height:30px; margin-right:8px;">
      <span class="fw-bold">EcoTrend</span>
    </a>

    <!-- Botão mobile -->
    <button title="buttom" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-4">
        <li class="nav-item"><a class="nav-link fw-semibold" href="#">Produtos</a></li>
        <li class="nav-item"><a class="nav-link fw-semibold" href="#">Sobre nós</a></li> 
        <li class="nav-item"><a class="nav-link fw-semibold" href="#">Contato</a></li>
      </ul>
    </div>

    <!-- Ícones à direita -->
    <div class="d-flex align-items-center gap-3">
      <a href="#"><i class="bi bi-search fs-5"><img src="../assets/img/icons_header/search_icon.png" alt="" style="height:30px; margin-right:8px;"></i></a>
      <a href="#"><i class="bi bi-cart fs-5"><img src="../assets/img/icons_header/cart_icon.png" alt="" style="height:30px; margin-right:8px;"></i></a>
      <img src="../assets/img/icons_header/user-icon.png" class="rounded-circle" alt="Profile" style="height:30px; margin-right:8px;">
    </div>
  </div>
</nav>
</body>
</html>